.contenedor {
    display: grid;
    grid-gap: 20px;
    height: 700px;

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

    /* Alinea Horizontalmente  */
    /* normal | start | center | end | space-arround | space-between | space-evenly */
    justify-content: space-between ;

    /* Alinea Verticalmente  */
    /* normal | start | center | end | space-arround | space-between | space-evenly */
    align-content: space-between;

}


